.rhap_container {
  width: var(--container-width);
  margin: 0 auto;
  padding: 0 12px;
  background-color: #f2f2f2;
  color: #333;
  height: var(--playbar-height);
  box-shadow: none;
  justify-content: center;
}

.rhap_controls-section {
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rhap_main-controls > button {
  height: 24px;
  width: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rhap_main-controls > button > svg,
.repeat-btn > svg {
  height: 24px;
  width: 100%;
  color: #333;
}

.repeat-btn {
  height: 20px;
}

.rhap_progress-bar {
  height: 1px;
  background-color: rgb(190, 190, 190);
}

.rhap_progress-indicator {
  visibility: hidden;
  width: 10px;
  height: 10px;
  top: -4.5px;
  border-radius: 100%;
  box-shadow: none;
}

.rhap_progress-filled {
  background-color: var(--primary-orange);
}

.rhap_time {
  font-size: 12px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.rhap_current-time {
  color: var(--primary-orange);
}

.rhap_volume-container {
  margin-left: 12px;
}

.rhap_volume-container svg {
  color: #333;
  height: 20px;
}

.rhap_volume-bar {
  height: 1px;
  background-color: rgb(190, 190, 190);
}

.rhap_volume-indicator {
  background-color: #333;
  box-shadow: none;
  top: -3.3px;
  width: 8px;
  height: 8px;
}

.currently-playing-container {
  position: relative;
  height: 100%;
  display: flex;
  width: 280px;
}

.currently-playing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 20px;
}

.currently-playing > .cover-image {
  height: 30px;
  width: 30px;
  margin-right: 14px;
}
.currently-playing > .cover-image > img {
  height: 30px;
  width: 30px;
}

.track-details {
  font-size: 13px;
  display: block;
  width: 180px;
}
.currently-playing .artist {
  color: #999;
  margin-bottom: 2px;
}
.currently-playing .title {
  color: #666;
}

/* TODO: */

.currently-playing-actions {
  width: 80px;
}

.currently-playing-actions > button {
  height: 30px;
}

.next-up-container {
  position: absolute;
  z-index: 16;
  background-color: white;
  border: 1px solid rgb(223, 223, 223);
  right: 0;
  width: 480px;
  min-height: 200px;
  bottom: calc(var(--playbar-height) + 8px);
}

.next-up-header {
  padding: 9px 24px;
  border-bottom: 1px solid var(--primary-orange);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.next-up-heading {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  line-height: 46px;
}

.next-up-modal-actions {
  display: flex;
  align-items: center;
}

.next-up-modal-actions > .clear-btn {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  margin-right: 1rem;
  font-size: 14px;
  line-height: 20px;
  padding: 2px 11px 2px 10px;
}

.next-up-modal-actions > .clear-btn:hover {
  border-color: #ccc;
  outline: 0;
}

.next-up-modal-actions > .close-btn {
  background-color: #fff;
  color: #333;
  font-size: 1.4rem;
}

.next-up-tracks-list {
  cursor: pointer;
}

.next-up-track-row {
  padding: 0 24px;
  height: 48px;
  opacity: 0.6;
}

.next-up-track-link {
  display: flex;
  align-items: center;
  height: 100%;
}

.next-up-row-cover {
  height: 32px;
  width: 32px;
  object-fit: cover;
  margin-right: 8px;
}

.next-up-track-row p {
  font-size: 12px;
}

.uploader-name {
  color: #999;
  margin-bottom: 2px;
}

.track-title {
  color: #333;
}

.next-up-track-row.selected {
  background-color: #f8f8f8;
  opacity: 1;
}

.next-up-track-row:hover {
  background-color: #f8f8f8;
  opacity: 1;
}
