:root {
  --navWidth: 30%;
  --navBorderColor: rgb(17, 17, 17);
  --bg-dark-gray: #333;
  --text-light: rgb(204, 204, 204);
}

.header {
  background-color: var(--bg-dark-gray);
  color: var(--text-light);
  font-family: Interstate, "Lucida Grande", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  width: 100%;
  height: 46px;
  position: fixed;
  z-index: 2;
  top: 0;
  /* padding: 0 2%; */
}

.header li {
  list-style-type: none;
}

.navLogo {
  font-weight: 800;
  letter-spacing: 1px;
  background-color: var(--navBorderColor);
  width: 170px;
  text-align: center;
}

.navLogo > a {
  color: var(--text-light);
  text-decoration: none;
  display: block;
  height: 100%;
  padding: 12px 0;
}

.navLink {
  color: var(--text-light);
  text-decoration: none;
  display: block;
  height: 100%;
  padding: 12px 0;
}

.navLink:visited {
  color: var(--text-light);
}

/* TODO: active links (not working) */

.navContainer {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navGroupLeft {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
}

.navGroupRight {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
}

.navLinksLeft > ul,
.navLinksRight > ul {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 0;
}

.navLinksLeft > ul > li,
.navLinksRight > ul > li {
  height: 100%;
  display: block;
}

.navBtn {
  width: 104px;
  text-align: center;
  border-left: 1px solid var(--navBorderColor);
  border-right: 1px solid var(--navBorderColor);
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navBtn.right {
  border: none;
}

.navBtn.right > button {
  height: 100%;
  display: inline-block;
  background-color: transparent;
  color: var(--text-light);
  padding: 12px 0;
}

.navBtn.right > button:hover {
  color: var(--text-light);
  background-color: var(--navBorderColor);
  transition: background-color ease-in 120ms;
}

.navBtn:hover {
  background-color: var(--navBorderColor);
  transition: background-color ease-in 120ms;
}

.navBtn > a:hover {
  color: rgb(245, 245, 245);
  transition: color ease-in 120ms;
}

.navBtn:first-child {
  border-right: none;
}
.navBtn:nth-child(2) {
  border-right: none;
}

.navGroupMiddle {
  position: relative;
  height: 28px;
  width: 350px;
  margin: 0 12px;
}

.searchBar {
  height: 100%;
  width: 100%;
  padding: 5px 7px;
  border-radius: 4px;
  border: none;
  outline: none;
  color: rgb(102, 102, 102);
}

/* ------------------------ */

/*

.navLogo > a {
  background-position-x: 12px;
  background-size: 48px 22px;
  width: 69px;
  margin-right: unset;
  background: transparent url(./soundcloud-logo.svg) no-repeat;
} */

/* .navLinksLeft > ul {
  display: flex;
}

.navGroupMiddle {
}

.navLinksRight {
  min-width: var(--navWidth);
  height: 100%;
  display: flex;
  align-items: center;
}
 */
/* .topNavigationContainer {
  background-color: #333;
  color: rgb(204, 204, 204);
  font-family: Interstate, "Lucida Grande", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  width: 100%;
  height: 46px;
}

.topNavigationContainer a {
  display: block;
}

.innerContainer {
  width: var(--container-width);
  max-width: var(--container-width);
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navGroup {
  height: 100%;
  display: flex;
  min-width: var(--navWidth);
  align-items: center;
}

.navBtn {
  width: 104px;
  text-align: center;
  border-left: 1px solid var(--navBorderColor);
  border-right: 1px solid var(--navBorderColor);
  height: 100%;
  display: flex;
  align-items: center;
}

.navLogoLink {
  margin-right: 12px;
  background-color: red;
}

.homeWithLogo {
  display: flex;
  align-items: center;
  width: 160px;
  height: 100%;
}

.homeWithLogo a {
  text-decoration: none;
  color: rgb(204, 204, 204);
}

.logoHighlight {
  height: 100%;
  background-color: #111;
  color: #fff;
}

.navLogo {
  display: inline-block;
  margin-right: 24px;
}

.homeLink {
  text-align: center;
  display: inline-block;
  height: 100%;
}

.navBtn a {
  text-decoration: none;
  color: rgb(204, 204, 204);
  width: 100%;
}

.navBtn a:hover {
  color: var(--white);
}

.profileTrigger {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profileImage {
  border-radius: 50%;
  margin-right: 12px;
}

.searchBarContainer {
  position: relative;
  height: 28px;
  width: 350px;
}

.searchBar {
  height: 100%;
  width: 100%;
  padding: 5px 7px;
  border-radius: 4px;
  border: none;
  outline: none;
}*/
