.badge-link {
  display: flex;
  justify-content: flex-end;
}

.badge-link-text {
  color: #fff;
  font-size: 14px;
  background-color: #999;
  width: fit-content;
  padding: 4px 8px;
  border-radius: 20px;
  border: 1px solid #999;
  margin-bottom: 8px;
}

.badge-link > .sharp {
  margin-right: 4px;
}
