.modal {
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBackground {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 94.9%, 0.9);
  backdrop-filter: grayscale(1);
}

.modalContent {
  position: absolute;
  background-color: white;
  width: 450px;
  height: auto;
}
