.search-input {
  width: 600px;
  height: 46px;
  padding: 0 16px;
  background-color: var(--bg-light);
  color: rgb(128, 127, 127);
  border: none;
  border-radius: 4px;
  font-size: 13px;
}

.search-input::placeholder {
  font-size: 14px;
  color: rgb(163, 163, 163);
}

.search-input:focus {
  outline: none;
}

.find-out-cta {
  display: block;
  font-size: 18px;
  width: 164px;
  height: 46px;
  padding: 12px 15px 10px 15px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.find-out-cta:hover {
  border-color: #fff;
  transition: border-color 100ms ease-in;
}

.sign-in-transparent-btn {
  background-color: transparent;
  color: #333;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  font-size: 14px;
  padding: 4px 12px;
  height: 40px;
}

.sign-in-transparent-btn:hover {
  border-color: #cecece;
  transition: border-color ease-in 120ms;
}

/* TODO: make slider not fader */
/* .slide-enter {
  width: 300%;
  transform: translateX(0%);
}
.slide-enter-active {
  transform: translateX(100%);
  transition: transform 0.6s ease-in-out 0s;
  width: 300%;
}
.slide-exit {
  opacity: 1;
}
.slide-exit-active {
  opacity: 1;
  transition: opacity 300ms;
} */
