.show-actions {
  padding-bottom: 8px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
  border-bottom: 1px solid #e7e7e7;
}

.show-action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  font-size: 14px;
  color: #333;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  padding: 3px 10px 1px;
}

.show-action-btn > svg {
  margin-right: 4px;
}
