.playlist-track-row {
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 44px;
  border-bottom: 1px solid #f2f2f2;
  font-size: 13px;
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.playlist-track-row:hover,
.playlist-track-row.selected {
  background-color: var(--bg-light);
}

.playlist-track-row > .track-order,
.playlist-track-row > .track-uploader {
  color: #999;
  transition: all 120ms ease-in;
}

.playlist-track-row > .track-order:hover,
.playlist-track-row > .track-uploader:hover {
  text-decoration: underline;
}

.playlist-track-row > .track-order {
  margin-right: 14px;
  margin-left: 14px;
}

.playlist-track-row > .track-title {
  color: #333;
}
