/* TODO: width */
.private-badge {
  background-color: var(--primary-orange);
  color: #fff;
  border-radius: 20px;
  font-size: 14px;
  text-align: center;
  text-transform: lowercase;
  border: 1px solid var(--primary-orange);
  padding-top: 1px;
  display: flex;
  align-items: center;
  padding: 3px 12px 2px 12px;
}
.private-icon {
  margin-right: 2px;
}

.private-badge.small {
  font-size: 11px;
  border-radius: 4px;
  height: 18px;
  margin-top: 2px;
}
