.bannerPlayerContainer {
  /* background-color: rgb(178, 218, 253); */
  background: linear-gradient(
    135deg,
    rgb(146, 38, 38) 0%,
    rgb(11, 10, 10) 100%
  );
  width: 100%;
  height: 260px;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 24px;
  position: relative;
  color: #333;
}

.avatar {
  width: 200px;
  height: 200px;
}

.displayName {
  background-color: #000;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  padding: 4px 7px;
  width: fit-content;
}

.title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.subtitle {
  font-size: 14px;
  font-weight: 400;
  padding: 3px 7px 2px;
  line-height: 1.3;
  color: #ccc;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 4px;
  width: fit-content;
}

.container {
  padding: 20px 30px;
  background-color: white;
  height: 100%;
  display: grid;
  grid-template-columns: 2.1fr 0.9fr;
  column-gap: 24px;
}

.tabsBar {
  display: flex;
  width: 100%;
  padding: 20px 30px;
  align-items: center;
  background-color: white;
  font-size: 1.1rem;
  font-weight: 500;
}

.tabsBar li {
  cursor: pointer;
  line-height: 1.8;
  border-bottom: 3px solid white;
}

.tabsBar li:hover {
  border-color: #333;
  transition: border-color ease-in 120ms;
}

.tabsBar li.active {
  border-color: var(--primary-orange);
  color: var(--primary-orange);
}

.left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.uploadedTitle {
  font-size: 20px;
  font-weight: 400;
}

.trackCards {
  padding-top: 40px;
}

.trackCard {
  height: 160px;
  margin-bottom: 45px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  box-shadow: 0px 0px 6px 2px rgba(17, 17, 26, 0.18);
}

.innerTrackContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 14px;
}

.trackCardTop {
  display: flex;
}

.playBtn {
  background-color: var(--primary-orange);
  border: 1px solid var(--primary-orange);
  color: white;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  padding-left: 4px;
  padding-top: 4px;
  margin-right: 12px;
}

.pauseBtn {
  background-color: var(--primary-orange);
  border: 1px solid var(--primary-orange);
  color: white;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  padding-top: 4px;
  margin-right: 12px;
}

.playBtn:hover {
  filter: brightness(90%);
  transition: filter ease-in 140ms;
}

.trackCardInfo {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
}

.trackHeaderLeft > h4 {
  font-size: 12px;
  line-height: 1.6;
  font-weight: 400;
  color: #999;
}

.trackHeaderLeft > p {
  font-size: 14px;
  line-height: 1.6;
  font-weight: 400;
  color: #333;
}

.trackHeaderRight {
  font-size: 11px;
  line-height: 16px;
  color: rgb(187, 187, 187);
}

.privateTag {
  font-size: 12px;
  background-color: var(--primary-orange);
  border: 1px solid var(--primary-orange);
  color: #fff;
  text-align: center;
  border-radius: 4px;
}

.smBtn {
  border: 1px solid #e5e5e5;
  background-color: #fff;
  border-radius: 3px;
  font-size: 11px;
  padding: 2px 9px 2px 8px;
  height: 22px;
  line-height: 16px;
}

.smBtn:hover {
  border-color: #ccc;
  border-radius: 3px;
  transition: border-color ease-in 120ms;
}
