@import "~modern-normalize/modern-normalize.css";

:root {
  --bg-light: #f2f2f2;
  --container-width: 1240px;
  --container-padding: 30px;
  --primary-orange: #f50;
  --black: #333333;
  --white: #fff;
  --link-blue: #044dd2;
  --playbar-height: 48px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: var(--bg-light);
}

#root {
  height: 100%;
  background-color: var(--bg-light);
}

.carousel__slide-focus-ring {
  outline: none !important;
  border: none !important;
}
.carousel__slide-focus-ring:focus {
  outline: none !important;
  border: none !important;
}
.carousel__slide-focus-ring:focus-visible {
  outline: none !important;
  border: none !important;
}
.carousel__slide-focus-ring:focus-within {
  outline: none !important;
  border: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
dd,
ul,
p {
  margin: 0;
  padding: 0;
}

label {
  display: block;
}

li {
  list-style-type: none;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

input::placeholder,
textarea::placeholder {
  color: #999;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.landing-page {
  background-color: var(--bg-light);
  color: var(--black);
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.full-page {
  background-color: var(--bg-light);
  color: var(--black);
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-top: 44px;
}

.page-container {
  width: var(--container-width);
  max-width: var(--container-width);
  background-color: var(--bg-light);
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.top-navigation-links .active {
  background-color: var(--navBorderColor);
}

/* WAVEFORM */
.waveform-container {
  position: absolute;
  background-color: transparent;
  height: 100px;
  width: 837px;
  bottom: 25px;
}
