@import "~modern-normalize/modern-normalize.css";

:root {
  --bg-light: #f2f2f2;
  --container-width: 1240px;
  --container-padding: 30px;
  --primary-orange: #f50;
  --black: #333333;
  --white: #fff;
  --link-blue: #044dd2;
}

#root {
  height: 100%;
  background-color: var(--bg-light);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.landing-page {
  height: 100%;
  background-color: var(--bg-light);
  color: var(--black);
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.full-page {
  height: 100%;
  background-color: var(--bg-light);
  color: var(--black);
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-top: 44px;
}

.page-container {
  width: var(--container-width);
  max-width: var(--container-width);
  background-color: var(--bg-light);
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.active {
  background-color: var(--navBorderColor);
}
