.control-btn-lg {
  background-color: var(--primary-orange);
  border: 1px solid var(--primary-orange);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  transition: filter ease-in 100ms;
}

.control-btn-sm {
  margin-right: 10px;
  height: 40px;
  width: 40px;
  background-color: var(--primary-orange);
  border: 1px solid var(--primary-orange);
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.control-btn-sm.play > svg {
  margin-left: 4px;
}

.control-btn-lg:hover {
  filter: brightness(80%);
}

.control-btn-lg > svg {
  font-size: 30px;
  color: #fff;
  vertical-align: middle;
}

.play > svg {
  margin-left: 6px;
}
