.show-layout {
  padding-top: 44px;
  width: var(--container-width);
  max-width: var(--container-width);
  margin: 0 auto;
  background-color: #fff;
  height: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.show-main-section {
  display: grid;
  grid-template-columns: 2.1fr 0.9fr;
  padding-left: 30px;
  background-color: #fff;
}

.main-inner {
  background-color: #fff;
  padding-top: 20px;
}
