.show-layout {
  padding-top: 44px;
  width: var(--container-width);
  max-width: var(--container-width);
  margin: 0 auto;
  background-color: #fff;
  height: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.show-main-section {
  display: grid;
  grid-template-columns: 2.1fr 0.8fr;
  padding-left: 24px;
  padding-right: 24px;
  column-gap: 24px;
}

.main-inner {
  padding-top: 20px;
}
