:root {
  --error-red: #d61348;
}

.modalForm {
  padding: 12px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.closeBtn {
  align-self: flex-end;
  padding: 12px;
  padding-bottom: 36px;
  font-size: 22px;
  background-color: transparent;
}

.or {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
  position: relative;
  width: 88%;
  font-weight: 500;
}

.or::before {
  left: 0;
  border-top: 1px solid #333;
  content: " ";
  display: inline-block;
  position: absolute;
  top: 0.7em;
  width: 43%;
}

.or::after {
  right: 0;
  border-top: 1px solid #333;
  content: " ";
  display: inline-block;
  position: absolute;
  top: 0.7em;
  width: 43%;
}

.modalTitle {
  font-size: 32px;
  font-weight: 400;
  margin: 0;
  padding-top: 32px;
  margin-bottom: 32px;
  text-align: center;
}
