.input {
  display: block;
  border-radius: 5px;
  font-size: 18px;
  line-height: 24px;
  padding: 7px 8px;
  width: 400px;
  border: 1px solid #ccc;
  color: #333;
}

.input:focus {
  outline: 1px solid #ccc;
}

.invalid {
  border: 1px solid var(--error-red);
}

.invalid:focus {
  outline: none;
}

.inputLabel {
  font-size: 14px;
  display: block;
  margin-bottom: 2px;
}

.passwordInput {
  position: relative;
  display: block;
}

.eyeIcon {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
  z-index: 1;
  color: rgb(63, 62, 62);
}

.emailWithBack {
  display: inline-flex;
  align-items: center;
  margin-bottom: 14px;
  cursor: pointer;
}
