:root {
  --error-red: #d61348;
}

.modalForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.closeBtn {
  align-self: flex-end;
  padding: 12px;
  padding-bottom: 36px;
  font-size: 22px;
  background-color: transparent;
}

.socialButtonGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.or {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
  position: relative;
  width: 88%;
  font-weight: 500;
}

.or::before {
  left: 0;
  border-top: 1px solid #333;
  content: " ";
  display: inline-block;
  position: absolute;
  top: 0.7em;
  width: 43%;
}

.or::after {
  right: 0;
  border-top: 1px solid #333;
  content: " ";
  display: inline-block;
  position: absolute;
  top: 0.7em;
  width: 43%;
}

.continueBtn {
  background-color: var(--primary-orange);
  border-color: var(--primary-orange);
  border-radius: 3px;
  color: #fff;
  width: 100%;
  padding: 10px 15px;
  margin-top: 12px;
  margin-bottom: 16px;
}

.modalTitle {
  font-size: 32px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.passwordInput {
  position: relative;
  display: block;
}

.eyeIcon {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
  z-index: 1;
  color: rgb(63, 62, 62);
}
