.social-login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 16px;
  padding: 10px 15px;
  height: 40px;
  line-height: 18px;
  width: 400px;
  border-radius: 3px;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
    Garuda, Verdana, Tahoma, sans-serif;
}

.facebook {
  border: 1px solid #3578e5;
  background-color: #3578e5;
  color: #fff;
}

.google {
  border: 1px solid #ccc;
  background-color: #fff;
  color: #222;
}

.apple {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
}

.demo {
  color: #fff;
  background-color: var(--primary-orange);
  border: 1px solid var(--primary-orange);
}
