.modalForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.closeBtn {
  align-self: flex-end;
  padding: 12px;
  padding-bottom: 36px;
  font-size: 22px;
  background-color: transparent;
}

.socialButtonGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.or {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
  position: relative;
  width: 88%;
  font-weight: 500;
}

.or::before {
  left: 0;
  border-top: 1px solid #333;
  content: " ";
  display: inline-block;
  position: absolute;
  top: 0.7em;
  width: 43%;
}

.or::after {
  right: 0;
  border-top: 1px solid #333;
  content: " ";
  display: inline-block;
  position: absolute;
  top: 0.7em;
  width: 43%;
}

.input {
  display: block;
  border-radius: 5px;
  font-size: 18px;
  line-height: 24px;
  padding: 7px 8px;
  width: 400px;
  border: 1px solid #ccc;
  color: #333;
}

.continueBtn {
  background-color: var(--primary-orange);
  border-color: var(--primary-orange);
  color: #fff;
  width: 100%;
  padding: 10px 15px;
  margin-top: 16px;
  margin-bottom: 20px;
}

.modalFooter {
  width: 400px;
  padding-bottom: 60px;
}

.needHelpLink {
  display: block;
  font-size: 12px;
  text-decoration: none;
  text-align: right;
}

.privacyPolicy {
  color: #999;
  font-size: 12px;
  line-height: 1.6;
}
