/* Add to playlist */
.add-to-playlist-container {
  width: 550px;
  height: 100%;
  padding-bottom: 25px;
}

.add-to-playlist-header {
  padding-top: 16px;
  padding-left: 25px;
  padding-right: 25px;
}

.add-to-playlist-modal-tabs {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 22px;
  line-height: 1.6;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 25px;
}

.add-to-playlist-tab {
  color: #333;
  font-weight: 500;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.add-to-playlist-tab.selected {
  color: var(--primary-orange);
  border-color: var(--primary-orange);
}

.add-to-playlist-section {
  padding-left: 25px;
  padding-right: 25px;
}

.playlist-list {
  padding-top: 12px;
}
/* Create a playlist */

.privacy-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  height: 26px;
}

.track-list {
  border: 1px solid #f2f2f2;
}

/* Go to playlist */
.go-to-playlist-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0 24px 0;
}

.new-playlist-cover {
  border: 1px solid rgb(175, 175, 175);
  height: 50px;
  width: 50px;
}

.align-center {
  display: flex;
  align-items: center;
}

.go-to-playlist-link {
  font-size: 13px;
  color: rgb(61, 61, 61);
  border: 1px solid #e5e5e5;
  padding: 2px 11px 2px 10px;
  line-height: 20px;
  border-radius: 3px;
  height: 26px;
  transition: all 100ms ease-in;
}

.go-to-playlist-link:hover {
  border-color: #ccc;
  color: #333;
  outline: 0;
}
